@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    color-scheme: light;
    --app-background: var(--color-white);
    --app-border: var(--color-gray-200);
  }

  .dark {
    color-scheme: dark;
    --app-background: var(--color-gray-950);
    --app-border: var(--color-gray-800);
  }

  body {
    background-color: var(--app-background);
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--app-border);
  }
}
